@charset "UTF-8";
/* 폰트 */
/* 컬러 */
/* 단서 */
/* 버튼 */
@font-face {
  font-family: "Cafe24Danjunghae";
  font-weight: normal;
  src: url(../fonts/Cafe24Danjunghae-v2.0.woff);
}
/* base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", "맑은 고딕", "Apple SD Gothic Neo", sans-serif;
  color: #333;
  font-size: 16px;
}

*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  border: none;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #222222;
}

.content {
  width: 100%;
}

.inner {
  width: 1400px;
  margin: 0 auto;
}

/* 공통 */
.title, .tit, .txt {
  text-align: center;
}

.title, .tit {
  color: #fff;
}

.blind {
  display: none;
  font-size: 0;
  text-indent: -9999em;
}

.btn_wrap .btn {
  display: block;
  width: 400px;
  height: 100px;
  background-color: rgba(78, 78, 78, 0.8);
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  border-radius: 200px;
  font-size: 60px;
}

input[type=text] {
  display: block;
  width: 350px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #D9D9D9;
  border-radius: 6px;
}
input[type=text]::-moz-placeholder {
  font-size: 16px;
  color: #d9d9d9;
}
input[type=text]::placeholder {
  font-size: 16px;
  color: #d9d9d9;
}

.descript {
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  padding: 80px 100px 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.1) 9.38%, rgba(0, 0, 0, 0.8) 28.13%, #000 100%);
}
.descript .name {
  position: absolute;
  top: -40px;
  left: 0;
  width: 430px;
  height: 95px;
  background: linear-gradient(90deg, rgba(240, 255, 63, 0.7) 10%, rgba(240, 255, 63, 0.6) 20%, rgba(240, 255, 63, 0) 80%);
  color: #212121;
  padding-left: 50px;
  font-size: 50px;
  font-weight: bold;
  line-height: 95px;
}
.descript .img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.descript .img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.descript .talk {
  width: 100%;
}
.descript .talk .talk_box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: baseline;
}
.descript .talk .talk_box p {
  color: #fff;
  font-size: 30px;
}
.descript .talk .talk_box .talk_btn {
  background-color: transparent;
}