@import "./_utility.scss";

/* 시작페이지 */
.title{
  padding-top: 110px;
  .top{
    color: #fff;
    font-size: 100px;
  }
  .bottom{
    color: #F0FF3F;
    font-size: 150px;
    font-weight: bold;
  }
}
.btn_wrap{
  margin-top: 110px;
  .btn{
    transition: 0.3s;
    &:hover{
      box-shadow: 0 0 20px 20px rgba(#F0FF3F, 0.8);
      color: #F0FF3F;
    }
  }
}

/* 입장 */
.inner{
  .tit{
    padding-top: 150px;
    font-size: 80px;
  }
  .input_wrap{
    margin-top: 80px;
    .nick{
      width: 700px; height: 100px;
      &::placeholder{
        font-size: 24px;
      }
    }
  }
  .btn_wrap{
    margin-top: 60px;
  }
}